# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files (optional)
*.pkl
*.joblib
*.pt
*.pth
*.h5

# Raw datasets
data/raw/*.csv

#interim datasets
data/interim/*.csv

#preprocessed datasets
data/processed/*.csv

#notebook datasets
notebooks/data/interim/*.csv